<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.revelope.spring.batch.admin.mapper.JobExecutionMysqlMapper">
	<select id="selectJobExecution" resultType="jobExecution">
		SELECT
			exe.job_execution_id AS jobExecutionId
		    , exe.version AS version
			, exe.job_instance_id AS jobInstanceId
		   	, inst.job_name AS jobName
			, exe.create_time AS createTime
		   	, exe.start_time AS startTime
			, exe.end_time AS endTime
			, exe.status AS status
			, exe.exit_code AS exitCode
			, exe.exit_message AS exitMessage
			, exe.last_updated AS lastUpdated
			, exe.job_configuration_location AS jobConfigurationLocation
		FROM
			${tablePrefix}_JOB_INSTANCE inst
			, ${tablePrefix}_JOB_EXECUTION exe
		WHERE
			inst.job_instance_id = exe.job_instance_id
		  AND exe.job_execution_id = #{jobExecutionId}
	</select>

	<select id="selectJobExecutionTotalCount" resultType="int">
		SELECT
			COUNT(1)
		FROM
			${tablePrefix}_JOB_INSTANCE inst
			, ${tablePrefix}_JOB_EXECUTION exe
		WHERE
			inst.job_instance_id = exe.job_instance_id
			AND inst.job_name IN
			<foreach collection="jobNameList" item="jobName" open="(" close=")" separator=",">
				#{jobName}
			</foreach>
	</select>

	<select id="selectJobExecutionList" resultType="jobExecution">
		SELECT
			jobExecutionId
			, version
			, jobInstanceId
			, jobName
			, createTime
			, startTime
			, endTime
			, status
			, exitCode
			, exitMessage
			, lastUpdated
			, jobConfigurationLocation
		FROM (
			SELECT
				@rownum:=@rownum+1 AS rnum
				, jobExecutionId
				, version
				, jobInstanceId
				, jobName
				, createTime
				, startTime
				, endTime
				, status
				, exitCode
				, exitMessage
				, lastUpdated
				, jobConfigurationLocation
			FROM (
				SELECT
					exe.job_execution_id AS jobExecutionId
					, exe.version AS version
					, exe.job_instance_id AS jobInstanceId
					, inst.job_name AS jobName
					, exe.create_time AS createTime
					, exe.start_time AS startTime
					, exe.end_time AS endTime
					, exe.status AS status
					, exe.exit_code AS exitCode
					, exe.exit_message AS exitMessage
					, exe.last_updated AS lastUpdated
					, exe.job_configuration_location AS jobConfigurationLocation
				FROM
					${tablePrefix}_JOB_INSTANCE inst
					, ${tablePrefix}_JOB_EXECUTION exe
				WHERE
					inst.job_instance_id = exe.job_instance_id
					AND inst.job_name IN
					<foreach collection="jobNameList" item="jobName" open="(" close=")" separator=",">
						#{jobName}
					</foreach>
				ORDER BY
					exe.job_execution_id DESC
				) A
				, (SELECT @rownum := 0) R
			) AA
		WHERE
			AA.rnum BETWEEN #{start} AND (#{start} + #{length})
	</select>

	<select id="selectMaxJobExecutionIdLessThan" resultType="long">
		SELECT
			IFNULL(MAX(job_execution_id), 0) AS maxJobExecutionId
		FROM
			${tablePrefix}_JOB_EXECUTION
		WHERE
			create_time <![CDATA[<]]> #{createDate}
	</select>

	<select id="selectMaxJobInstanceIdLessThan" resultType="long">
		SELECT
			IFNULL(MAX(job_instance_id), 0) AS maxJobInstanceId
		FROM
			${tablePrefix}_JOB_EXECUTION
		WHERE
			create_time <![CDATA[<]]> #{createDate}
	</select>

	<select id="selectJobExecutionParamList" resultType="jobExecutionParam">
		SELECT
			type_cd AS typeCode
			, key_name AS keyName
			, string_val AS stringValue
			, date_val AS dateValue
			, long_val AS longValue
			, double_val AS doubleValue
			, identifying AS identifying
		FROM
			${tablePrefix}_JOB_EXECUTION_PARAMS
		WHERE
			job_execution_id = #{jobExecutionId}
	</select>

	<delete id="deleteJobExecutionParamLessThanOrEqualTo">
		DELETE FROM
			${tablePrefix}_JOB_EXECUTION_PARAMS
		WHERE
			job_execution_id <![CDATA[<=]]> #{jobExecutionId}
	</delete>

	<delete id="deleteJobExecutionContextLessThanOrEqualTo">
		DELETE FROM
			${tablePrefix}_JOB_EXECUTION_CONTEXT
		WHERE
			job_execution_id <![CDATA[<=]]> #{jobExecutionId}
	</delete>

	<delete id="deleteJobExecutionLessThanOrEqualTo">
		DELETE FROM
			${tablePrefix}_JOB_EXECUTION
		WHERE
			job_execution_id <![CDATA[<=]]> #{jobExecutionId}
	</delete>
</mapper>